body {
 background-color: hsl(212, 45%, 89%);
 font-family: 'Outfit', sans-serif;
 text-align:center;
}

h3 {
    color:hsl(218, 44%, 22%);
    font-weight: 700;
    margin: 10px;
    padding: 10px 10px 0 10px;
}

p {
    color:hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 20px;
}

img {
    border-radius: 5%;
    margin-top: 13px;
    width: 275px;
    height: 275px;
}

a {
    text-decoration: none;
}

a:hover {
    color:hsl(220, 15%, 55%);
    font-size: larger;
}

footer {
    position: absolute;
    bottom: 10px;
    left:35%;
}


.qr-box {
    background-color: white;
    border-radius: 6%;
    position:absolute;
    width: 300px;
    height: 460px;
    margin-top: 7em;
    margin-left: 40%;
}

.attributiion {
    font-size: 9px; 
    color: hsl(228, 45%, 44%); 
}